.carousel-item {
    align-items: center;
    /* Alinha verticalmente ao centro */
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    max-height: 75vh;
    width: 100%;
    overflow: hidden;
}

.game-image {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

div .carousel-caption {
    margin-bottom: 280px ;
}

button.active {
	background-color: #27AE60 !important;
}